In [4]:

import pandas as pd

In [5]:
df = pd.read_excel('annotations_Grossu.xlsx')

#### Removing the unnecessary commas at the end of the photo names
df.image_name = df.image_name.str.replace(',', '')
df.describe()

             hair   pen_marks
count  116.000000  116.000000
mean     0.612069    0.189655
std      0.852327    0.393729
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    0.000000
max      3.000000    1.000000

In [6]:
df.to_csv('annotations_Grossu.csv')