In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('annotations_harini.xlsx')

#### Removing the unnecessary commas at the end of the photo names
df.image_name = df.image_name.str.replace(',', '')
df.describe()

            hair    pen_marks
count  116.000000  116.000000
mean     0.775862    0.224138
std      0.855531    0.418823
min      0.000000    0.000000
25%      0.000000    0.000000
50%      1.000000    0.000000
75%      1.000000    0.000000
max      3.000000    1.000000

In [3]:
df.to_csv('annotations_harini.csv')